*{
  box-sizing: border-box;
}

body{
  overflow-y: auto;
  background-color: #17769d;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* Set height to cover the entire viewport height */
  /* height: 100vh;  */
}
/* Registration Form */
.header {
  margin: auto;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #17769d;
}
.formContainer {
  margin: 0;
  width: 400px;
  border-color: #17769d !important;
  background-color: #E7E7E7 ;
  color: #17769d;
}

.inputField{
  font-family: 'Anta';
  height: 50px;
  color: #ab1725;
  border-color: #17769d;
  
}
#button{
  background-color: #ab1725;
  border-color: #ab1725;;
}
.link{
  color: #ab1725;
  font-weight: bold;
  text-decoration: none;
}
/* Navigation Bar */
.navigationBar{
  background-color: #E7E7E7;
  height: 100vh;
}
.navigationBar ul{
  list-style-type: none;
}
.navigationBarLink:hover{
  color:#ab1725;
}
.clicked{
  color: #ab1725;
  font-weight: bold;
  text-decoration: none;
}


/* SearchBar */
.searchBar{
font-family: 'Anta';
border-radius: 20px;
}
.submitBtn{
  background-color: #E7E7E7;
  font-family: 'Anta';
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
 
}
.row.content {
  height: 1500px;
}
@media screen and (max-width: 767px) {
  .navigationBar {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}
.card{
  width: 18rem;
}
.newFood{
  color:#E7E7E7;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
  
}


