body{
  background-color: #2f404d;
}
.header {
  margin: auto;
  text-align: center;
  font-family: 'Anta';
}
.formContainer {
  margin: auto;
  width: 400px;
  height: 700px;
  border-color: #17769d !important;
  /* box-shadow: 10px 10px 5px #17769d !important; */
  background-color: #17769d ;
  color: #ab1725;
}
.inputField{
  font-family: 'Anta';
  height: 50px;
  border-color: #ab1725;
  color: #ab1725;
  
}
#button{
  background-color: #f43d9b;
  border-color: #f43d9b;
}
.span{
  color: #f43d9b;
  font-weight: bold;
}


